In [ ]:
##Practical -5

In [3]:
# dataset
import pandas as pd
import numpy as np
from scipy import stats

# Sample teacher rating dataset (evaluation scores out of 5)
data = {
    "teacher": [f"Teacher{i}" for i in range(1, 21)],
    "evaluation": [4.7, 3.8, 4.2, 4.9, 3.5, 4.1, 4.6, 3.9, 4.3, 4.0,
                   4.8, 3.7, 4.5, 4.0, 3.6, 4.4, 4.2, 3.8, 4.9, 4.1]
}

# Create DataFrame
df = pd.DataFrame(data)
df

      teacher  evaluation
0    Teacher1         4.7
1    Teacher2         3.8
2    Teacher3         4.2
3    Teacher4         4.9
4    Teacher5         3.5
5    Teacher6         4.1
6    Teacher7         4.6
7    Teacher8         3.9
8    Teacher9         4.3
9   Teacher10         4.0
10  Teacher11         4.8
11  Teacher12         3.7
12  Teacher13         4.5
13  Teacher14         4.0
14  Teacher15         3.6
15  Teacher16         4.4
16  Teacher17         4.2
17  Teacher18         3.8
18  Teacher19         4.9
19  Teacher20         4.1

In [4]:
#Q.1
# Count teachers with evaluation > 4.5
count_gt_4_5 = df[df['evaluation'] > 4.5].shape[0]

# Total number of teachers
total_count = df.shape[0]

# Probability
prob_gt_4_5 = count_gt_4_5 / total_count
print(f"Probability of evaluation > 4.5: {prob_gt_4_5:.2f}")

Probability of evaluation > 4.5: 0.25

In [5]:
#Q.2
# Count evaluations between 3.5 and 4.2
count_between = df[(df['evaluation'] > 3.5) & (df['evaluation'] < 4.2)].shape[0]

# Probability
prob_between = count_between / total_count
print(f"Probability of evaluation between 3.5 and 4.2: {prob_between:.2f}")

Probability of evaluation between 3.5 and 4.2: 0.45

#Q.3
# Step 3: Two-Tailed Test for Normal Distribution (Pro vs Regional Players)

Given:

Historic pro mean = 12

Population std = 5.5

Regional sample: n = 36, mean = 10.7
Null hypothesis H0: The mean point of the regional player is not different from the historic mean.
Alternative hypothesis H1: The mean point of the regional player is different from the historic mean.

In [6]:
# Given values
mu_population = 12
sigma_population = 5.5
x_bar_sample = 10.7
n_sample = 36

# Standard error
se = sigma_population / np.sqrt(n_sample)

# Z-score
z_score = (x_bar_sample - mu_population) / se
print(f"Z-score: {z_score:.2f}")

# Two-tailed p-value
p_value = 2 * (1 - stats.norm.cdf(abs(z_score)))
print(f"Two-tailed p-value: {p_value:.3f}")

# Decision at 5% significance
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: Regional players' mean is significantly different from historic mean.")
else:
    print("Fail to reject the null hypothesis: No significant difference from historic mean.")

Z-score: -1.42
Two-tailed p-value: 0.156
Fail to reject the null hypothesis: No significant difference from historic mean.